h1 {
  text-align: center;
  font-size: 3rem;
  margin-block: 3rem;
}

.widget-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  width: 100dvw;
}
